{% extends 'base.html' %}

{% block content %}
<script>
    Vue.use(VueSocketIOExt, io('http://' + document.domain + ':' + location.port + '/searchTwitters'));
</script>
<!-- //////////////////////////////////////////////// -->
<div class="main-container container">
    <div class="center-block input-group" id="app">
        <input type="text" class="form-control" v-model="userName" @input="imputSearchEventHandle"
            placeholder="input user name for search....." list="foundUserList">
        <datalist id="foundUserList" v-html="foundUsers">

        </datalist>

        <div class="input-group-append">
            <button class="btn btn-secondary" type="button"  v-on:click="getTweets">
                Get Tweets
            </button>
        </div>
    </div>
</div>

<!-- <script src="/static/js/index.js"></script> -->
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            socket: null,
            userName: '',
            foundUsers: '',
            test: 'this is test'
        },

        sockets: {
            connect() {
                console.log('socket connected')
            },

            foundUserEmit(json) {
                console.log(`socket get foundUser: ${json}`)
                this.foundUsers += `<option value='${json.screen_name}'><a>name: ${json.name} screen_name: ${json.screen_name}</a></option>`
            }
        },

        methods: {
            imputSearchEventHandle: _.debounce(() => {
                // this function is not called by app
                console.log(`inputUserName: ${app.userName}`)
                // app.socket.emit('clentSendUserName', app.userName)
                app.$socket.emit('clentSendUserName', app.userName);
            }, 200),

            getTweets: function() {
                window.location = `/get_tweets?screen_name=${this.userName}`
            }
        },

        mounted() {
        }

    });
</script>
{% endblock %}